<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="DatabaseContainer" connectionString="metadata=res://*/Database.Database.csdl|res://*/Database.Database.ssdl|res://*/Database.Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ILS-5651\SQLEXPRESS;initial catalog=stockinstruments;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="readerConnectionString" connectionString="data source=ILS-5651\SQLEXPRESS;initial catalog=stockinstruments;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework"/>
  </connectionStrings>
</configuration>
